# ================================================
# # HG BRASIL
# ================================================
HG_BRASIL_URL=https://api.hgbrasil.com/finance 
HG_BRASIL_API_KEY=xxxxx

# ================================================
# # Kafka
# ================================================
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC=finance.market
KAFKA_GROUP_ID=finance-consumer-group

# ==========================================
# PostgreSQL
# ==========================================
POSTGRES_HOST=xxxxx
POSTGRES_PORT=5432
POSTGRES_DB=xxxxx
POSTGRES_USER=xxxx
POSTGRES_PASSWORD=xxxxx

PGADMIN_DEFAULT_EMAIL=xxxxx
PGADMIN_DEFAULT_PASSWORD=xxxxxx

# ==========================================
# FastAPI
# ==========================================
API_PORT=8000


# ==========================================
# Airflow
# ==========================================
AIRFLOW_UID=50000

# ==========================================================
# AIRFLOW
# ==========================================================
AIRFLOW_DB=xxxxx
AIRFLOW_DB_USER=xxxxx
AIRFLOW_DB_PASSWORD=xxxxx

AIRFLOW_ADMIN_USERNAME=xxxxx
AIRFLOW_ADMIN_PASSWORD=xxxxx
AIRFLOW_ADMIN_FIRSTNAME=xxxxx
AIRFLOW_ADMIN_LASTNAME=xxxxx
AIRFLOW_ADMIN_EMAIL=xxxxx