# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/
.env/

# ==========================================
# Environment
# ==========================================

.env

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Data
# ==========================================

*.parquet
*.csv

data/
data-lake/*

# ==========================================
# Airflow
# ==========================================

airflow/logs/

# ==========================================
# Spark
# ==========================================

spark-warehouse/

# ==========================================
# Python cache
# ==========================================

.pytest_cache/
.mypy_cache/

# ==========================================
# Verificação
# ==========================================
.verificação/